

header,footer { 
  
  text-align: center;
  background-color: #343330;
  text-align: center
  
}

body{
  font-family: 'Times New Roman', Times, serif;
  font-size:110%;
  background-color: rgb(204, 192, 19);
    
}

menu { background-color: #a9ca12;
  text-align: left; 
width: fit-content;}

h1 { color: white;
}



p1,p3 { color: white;
  background-color: #343330;

}








 

